<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h3 class="footer-logo">WOLFER</h3>
        <p>Más de 30.000 transacciones con valoraciones positivas por parte de nuestros clientes!
100% enfocados en el servicio.
Contá con nosotros!</p>
  
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-tiktok"></i></a>
        </div>
      </div>
  
      <div class="footer-section">
        <h4>Información</h4>
        <ul>
          <li><a href="/sobreNosotros">Sobre nosotros</a></li>
          <li><a href="/locales">Locales</a></li>
          <li><a href="/trabaja-con-nosotros">Trabajá con nosotros</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Ayuda</h4>
        <ul>
          <li><a href="/preguntas-frecuentes">Preguntas frecuentes</a></li>
          <li><a href="/envios">Envíos</a></li>
          <li><a href="/devoluciones">Devoluciones</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Suscribite</h4>
        <form class="subscribe-form">
          <input type="email" placeholder="Tu email" required>
          <button type="submit">Enviar</button>
        </form>
  
        <div class="payment-icons">
          <img src="/public/images/visa.webp" alt="Visa">
          <img src="/public/images/MasterCard_early_1990s_logo.png" alt="MasterCard">
          <img src="/img/amex.svg" alt="Amex">
          <img src="/img/mercadopago.svg" alt="MercadoPago">
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; 2025 WOLFER. Todos los derechos reservados.</p>
    </div>
  </footer>
  








