<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Admin - Productos</title>
  <link rel="stylesheet" href="/stylesheets/adminProductViews.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <%- include('../partials/header') %>

  <div id="root"></div>
























  <%- include('../partials/footer') %>






  <script>
    // Pasar los productos del backend a React
    window.productosFromServer = <%- JSON.stringify(productos) %>;
  </script>
  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script type="text/babel" src="/js/admin/ProductsView.jsx"></script>








  
  <script>
    function toggleMenu() {
      const submenu = document.getElementById('submenu');
      submenu.style.display = submenu.style.display === 'block' ? 'none' : 'block';
    }
  
    // Ocultar el menú si se hace clic afuera
    document.addEventListener('click', function(event) {
      const menu = document.querySelector('.menu-cuenta');
      const submenu = document.getElementById('submenu');
  
      if (!menu.contains(event.target)) {
        submenu.style.display = 'none';
      }
    });
  </script>
  


</body>
</html>
